#!/usr/bin/env xdg-open

# Placed in $HOME/.local/share/applications

[Desktop Entry]
Comment=Run Windows 11
Exec=/home/stewi/.local/share/win11/win11.sh
Icon=/home/stewi/.local/share/win11/win11.svg
Name=Windows 11
Type=Application
StartupWMClass=virt-viewer
